@using System.Globalization
@using Blog.Web.ViewModels.Posts.ViewModels;
@model AllPostViewModel;

@using Blog.Common
@{
    this.ViewData["Title"] = "Post All";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('https://miro.medium.com/max/960/1*PaZT9QBa-Dt9K9FE9-CkbA.jpeg')">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
                <div class="justify-content-lg-between">
    
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row">
    <div class="container bg-white">
        <div class="row">
            @foreach (var item in Model.Posts)
            {
                <div class="col-xl-4 mt-3 shadow rounded-lg">
                    <div>
                        <a asp-controller="Posts" asp-action="Details" asp-route-postId="@item.Id">
                            <img src="@item.ImageUrl" class="img-post-all mt-3">
                        </a>
                    </div>
                    <div class="bg-white">
                        <a asp-controller="Posts" asp-action="Details" asp-route-postId="@item.Id">
                            <h3 class="h4">@item.Title</h3>
                        </a>
                        <div class="text-break">@item.ShortDescription.Substring(0, 50)</div>
                        <div class="d-flex align-items-center">
                            <a class="d-flex align-items-center flex-wrap">
                                <div>
                                    <img src="@item.Author" class="img-fluid">
                                </div>
                                <div>
                                    <span class="font-weight-bold text-dark">@item.Author</span>
                                </div>
                            </a>
                            <div class="d-flex align-items-center flex-wrap ml-4">
                                <div cclass="meta">
                                    @item.CreatedOn.Date.Day @item.CreatedOn.Date.ToString("MMM", CultureInfo.InvariantCulture) @item.CreatedOn.Date.Year
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="mt-4">
    @if (Model.PagesCount > 0)
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination d-flex justify-content-center">
                <li class="page-item">
                    <a asp-area="" asp-controller="Posts" asp-action="All" asp-route-page="@Model.PreviousPage" class="page-link bg-dark text-white">
                        <i class="fa fa-angle-left">
                        </i>
                    </a>
                </li>

                @for (int i = 1; i <= Model.PagesCount; i++)
                {
                    if (i == Model.CurrentPage)
                    {
                        <li class="page-item">
                            <a asp-area="" asp-controller="Posts" asp-action="All" asp-route-page="@i" class="page-link bg-dark text-white active">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a asp-area="" asp-controller="Posts" asp-action="All" asp-route-page="@i" class="page-link active bg-dark text-white">@i</a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a asp-area="" asp-controller="Posts" asp-action="All" asp-route-page="@Model.NextPage" class="page-link bg-dark text-white">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    }
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
                <div class="justify-content-lg-between">
                    <h3 class="text-center">Tags</h3>
                    <partial name="_TagPartial" />
                </div>
            </div>
        </div>
    </div>
</div>
<hr />