@using System.Globalization
@using Blog.Web.ViewModels.Posts.ViewModels;
@model AllPostViewModel;

@using Blog.Common
@using Blog.Web.ViewModels.Common
@{
    this.ViewData["Title"] = "Post All";
}

@await Component.InvokeAsync("Header", new HeaderViewModel
{
    Title = "By Tag",
    Content = "",
    ImageUrl = "https://res.cloudinary.com/dmvrh3bvc/image/upload/v1591631420/bg_bluegradient_lpytvz.jpg",
})
<vc:header></vc:header>

<div class="row">
    <div class="container bg-white">
        <div class="row">
            @foreach (var item in Model.Posts)
            {
                <div class="col-xl-12 mt-3 shadow border rounded-lg">
                    <div class="row">
                        <div class="col-4">
                            <a asp-controller="Posts" asp-action="Details" asp-route-postId="@item.Id">
                                <img src="@item.ImageUrl" class="img-post-all mt-3 rounded">
                            </a>
                        </div>

                        <div class="bg-white col-8 mt-3">
                            <a asp-controller="Posts" asp-action="Details" asp-route-postId="@item.Id">
                                <h3 class="h4">@item.Title</h3>
                            </a>
                            <div class="text-break">@item.ShortDescription</div>
                            <div class="d-flex mt-2">
                                <div>
                                    <span class="font-weight-bold text-dark">Stoyan Shopoff</span>
                                </div>
                                <div class="d-flex align-right flex-wrap ml-4">
                                    <div cclass="meta font-weight-bold text-dark">
                                        @item.CreatedOn.Date.Day @item.CreatedOn.Date.ToString("MMM", CultureInfo.InvariantCulture) @item.CreatedOn.Date.Year
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@await Component.InvokeAsync("PostPagination", new { page = Model.CurrentPage })
<vc:post-pagination></vc:post-pagination>
<partial name="_TagPartial" />
<hr />
