@using System.Globalization
@using Blog.Web.ViewModels.Posts.ViewModels;
@model DetailPostViewModel;

@using Blog.Common
@{
    this.ViewData["Title"] = "Post Details";
}


<header class="masthead" style="background-image: url('@Model.ImageUrl')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <span class="meta">
                        Posted by
                        <a href="#">@Model.Author</a>
                        on  @Model.CreatedOn.Date.Day @Model.CreatedOn.Date.ToString("MMM", CultureInfo.InvariantCulture) @Model.CreatedOn.Date.Year
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div>
                    @Html.Raw(Model.SanitizedContent)
                </div>
            </div>
        </div>
    </div>
</article>

<hr>
