@using System.Globalization
@using Blog.Web.ViewModels.Posts.ViewModels;
@model DetailPostViewModel;

@using Blog.Common
@{
    this.ViewData["Title"] = "Post Details";
}


<header class="masthead" style="background-image: url('@Model.ImageUrl')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <span class="meta">
                        Posted by
                        <a href="#">@Model.Author</a>
                        on  @Model.CreatedOn.Date.Day @Model.CreatedOn.Date.ToString("MMM", CultureInfo.InvariantCulture) @Model.CreatedOn.Date.Year
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<h1></h1>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div>
                    @Html.Raw(Model.SanitizedContent())
                </div>
            </div>
        </div>
    </div>
</article>

<div class="container text-center mb-3">
    Share On
    <a href="https://www.facebook.com/sharer/sharer.php?u=stoyanshopoff.com/posts/details?postId=@Model.Id" class="text-center">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.linkedin.com/sharing/share-offsite/?url=stoyanshopoff.com/posts/details?postId=@Model.Id" class="text-center">
        <i class="fab fa-linkedin"></i>
    </a>
</div>

@*<h1 class="text-center">Tags</h1>
<h3 class="text-center">@string.Join(", ", Model.Tags)</h3>*@

<div class="text-center">
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <a asp-area="Administration" asp-controller="Posts" asp-action="Edit" asp-route-postId="@Model.Id" class="btn btn-primary btn-lg">Edit</a>
    }
</div>

<hr>
