@using System.Globalization
@using Blog.Web.ViewModels.Posts.ViewModels;
@model IEnumerable<IndexPostViewModel>;

@using Blog.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('https://miro.medium.com/max/960/1*PaZT9QBa-Dt9K9FE9-CkbA.jpeg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Stoyan Shopoff Blog</h1>
                    <span class="subheading">A Blog for my stories</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var post in this.Model)
            {
                <div class="post-preview">
                    <a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-postId="@post.Id" >
                        <h2 class="post-title">
                            @post.Title
                        </h2>
                        <h3 class="post-subtitle">
                           @post.ShortDescription
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">@post.Author</a>
                        on @post.CreatedOn.Date.Day @post.CreatedOn.Date.ToString("MMM", CultureInfo.InvariantCulture) @post.CreatedOn.Date.Year
                    </p>
                </div>
                <hr>
            }
        </div>
    </div>
</div>

<hr>